@import "../../variables.scss";

.filterButton {
  width: 30%;
  background-color: red;
  color: $black;
  font-size: $p-size;
  cursor: pointer;
  height: 32px;
  padding: 0 16px;
}

@media only screen and (max-width: 480px) {
  .filterButton {
    width: 70%;
  }
}