.filterButton {
  width: 22%;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  height: 32px;
  padding: 0 16px;
  border: 1px solid white;
}

.filterButton.toggled {
  background-color: #4AB0DB;
  color: white;
  border: 1px solid #4AB0DB;
}

.clearButton {
  width: 22%;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  height: 32px;
  padding: 0 16px;
  border: 1px solid white;
}

@media only screen and (max-width: 480px) {
  .filterButton, .clearButton {
    width: 70%;
  }
}