@import "./variables.scss";

* {
  font-family: $font-family;
}

h1 {
  font-size: $h1-size
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
  font-weight: 400;
}

h4 {
  font-size: $h4-size;
  font-weight: 400;
}

p {
  font-size: $p-size;
  font-weight: 300;
}