@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

$font-family: 'Oswald', sans-serif;
$h1-size: 30px;
$h2-size: 25px;
$h3-size: 20px;
$h4-size: 18px;
$p-size: 16px;


$blue: #4AB0DB;
$green: #5EBF8F;
$yellow: #D0EC23;
$black: #000;
$white: #fff;
$grey: #4c4c4c;

$card-shadowing: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
$card-hover-shadowing: 0 14px 28px rgba(0, 0, 0, 0.27),
  0 10px 10px rgba(0, 0, 0, 0.3);

.cardArrow {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: $h4-size;

  &:hover {
    color: $blue;
  }
}

%card {
  max-height: 470px;
  max-width: 300px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: $card-shadowing;
  border: $blue;
  backface-visibility: hidden;
  background-color: $white;
  position: absolute;
  padding: 20px 0;
}

